@media (max-width: 1279px) and (min-width: 768px) {
    .wrapper {
      padding: 0 30px;
    }

    div.wrapper.not-only {
      padding: 150px 40px 0 30px;
    }

    .header {
      min-width: 768px;
      top: 30px;
    }
  
    .not-only {
      flex-direction: column;
      align-items: center;
      .not-only__foto {
        width: 569px;
        height: 593px;
        background-size: cover;
        align-self: end;
        margin-right: -9px;
      }
      .not-only__content {
        width: 452px;
        margin-bottom: 100px;
        button {
          align-self: center;
          margin-left: 5px;
        }
      }
    }

    .about {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      .about__content {
        margin-right: 2px;
      }
      .about__pets {
        margin: 80px 2px 0 0;
      }
    }

    .our-friends-bg {
      padding-bottom: 43px;
    }

    .our-friends {  
      h2 {
        padding-top: 125px;
       }    
     .our-friends__slider {   
       margin-top: 104px;   
     }  
   }
   


   .not-view {
     display: none;
   }

   .help {
      h2 {
        height: 201px;
        padding: 69px 0 25px 0 ;
      }
   }

   .help__list {
      margin: 0 0 237px 0 !important;
     //height: 573px !important;
     justify-content: space-between;
     div {
       width: 176px;
       height: 113px;
       margin: 27.5px !important;
     }
   }

   .in-addition {
     height: 785px;
     flex-direction: column-reverse;
     .in-addition__content {
       padding-top: 84px;
       p {
         padding: 19px 0 18px 0;
       }
     }
     .in-addition__foto {
      margin-bottom: 102px;
     }
   }

   
   footer > section.wrapper {
    padding-top: 15px;
  }
   
   .footer {
      justify-content: center;
      div.foto {
        width: 300px;
        height: 310px;
        margin-top: 65px;
      }

      .footer__contacts {
        padding-right: 60px;
        width: 280 + 60px;
      }
    }
  }
  

























  
  @media (max-width: 767px) and (min-width: 320px) {
    
    .header__nav {
      display: none;
    }

    .not-only {
      flex-direction: column;
    }






    

    .our-friends {
       h2 {
      font-size: 25px;
      padding: 42px 0;
      }
      .our-friends__navigation {
        width: 300px;
      }
      .our-friends__cards-container {
        justify-content: center;
        .card {
          margin: 0 15px 30px 0;
        }
      }  
    }

    .footer {
      justify-content: center;
      div.foto {
        width: 260px;
        height: 269px;
        margin-top: 65px;
      }

      .footer__contacts {
        margin-right: 60px;
      }
    }
  }