body {
  font-size: 16px;
  
}

.wrapper {
  width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
  // background-color: rgb(241, 219, 219);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.header__logic {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 300px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.aside {
  width: 20%;
  padding-right: 20px;
  form {
    
    input {
      width: 190px;
      height: 35px;
    }
    .colors {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 5px;

      button {
        width: 20%;
        height: 30px;
        border-radius: 5px;
        
      }
    }
  }
}

#products {
  width: 80%;
  height: 100%;
  // background-color: rgb(115, 177, 215);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.footer {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__git-link {
  
}

.footer__school-link {
  width: 70px;

}
