html {
  scroll-behavior: smooth;
}

.activ {
  border-bottom: 2px solid #F1CDB3;
}

.activ a {
  color: #292929 !important;
}

button.willactive:hover {
  background: #FDDCC4 !important;
  cursor: pointer;
}

.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
}

.menu-btn {
  width: 30px;
  height: 22px;
  position: relative;
  right: 63px;
  z-index: 2;
  overflow: hidden;
}

.menu-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #F1CDB3;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 10px);
}

.menu-btn span:nth-of-type(3) {
  top: calc(50% + 10px);
}

.menu-btn {
  display: none;
}

.card {
  height: 435px;
  width: 270px;
  background: #FAFAFA;
  border-radius: 9px;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.card .card__foto {
  height: 270px;
  width: 100%;
  border-radius: 9px 9px 0 0;
}

.card p {
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #545454;
}

.card .card__button button {
  background: #FAFAFA;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 13px 43px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.card:hover {
  cursor: pointer;
  -webkit-box-shadow: 5px 5px 35px 14px rgba(13, 13, 13, 0.26);
          box-shadow: 5px 5px 35px 14px rgba(13, 13, 13, 0.26);
  background: #FFFFFF;
}

.card:hover button {
  background: #FDDCC4;
}

footer {
  background: url("../../../assets/images/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer {
  padding: 40px;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer .footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 234px;
  width: 280px;
  margin-top: 16px;
}

.footer .footer__contacts h2 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer .footer__contacts .footer__contacts__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer .footer__contacts .footer__contacts__mail div {
  height: 32px;
  width: 40px;
  background: url("../../../assets/images/icon-email.svg");
}

.footer .footer__contacts .footer__contacts__mail p {
  margin-left: 20px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.footer .footer__contacts .footer__contacts__mail p:hover {
  color: #FDDCC4;
}

.footer .footer__contacts .footer__contacts__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer .footer__contacts .footer__contacts__phone div {
  height: 32px;
  width: 40px;
  background: url("../../../assets/images/icon-phone.svg");
}

.footer .footer__contacts .footer__contacts__phone p {
  margin-left: 20px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.footer .footer__contacts .footer__contacts__phone p:hover {
  color: #FDDCC4;
}

.footer .footer__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 16px;
  height: 234px;
  width: 302px;
}

.footer .footer__location h2 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.footer .footer__location a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer .footer__location a div {
  height: 32px;
  width: 22px;
  background: url("../../../assets/images/icon-marker.svg");
}

.footer .footer__location a p {
  margin-left: 20px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.footer .footer__location a p:hover {
  color: #FDDCC4;
}

.footer div.foto {
  height: 310px;
  width: 300px;
  background: url("../../../assets/images/footer-puppy.png");
}
